@model FilmSitesiModel.Models.Yonetmen

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Oluştur</h1>

<h4>Yonetmen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YonetmenAdiSoyadi" class="control-label"></label>
                <input asp-for="YonetmenAdiSoyadi" class="form-control" />
                <span asp-validation-for="YonetmenAdiSoyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YonetmenDogumTarihi" class="control-label"></label>
                <input asp-for="YonetmenDogumTarihi" class="form-control" />
                <span asp-validation-for="YonetmenDogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YonetmenDogumYeri" class="control-label"></label>
                <input asp-for="YonetmenDogumYeri" class="form-control" />
                <span asp-validation-for="YonetmenDogumYeri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YonetmenCinsiyet" class="control-label"></label>
                <input asp-for="YonetmenCinsiyet" class="form-control" />
                <span asp-validation-for="YonetmenCinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YonetmenTel" class="control-label"></label>
                <input asp-for="YonetmenTel" class="form-control" />
                <span asp-validation-for="YonetmenTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

